<div class = "wrapper">
    <div class="survey-container">
        <!-- <div class="survey-header">Almost There! 🎯</div>
        <div class="survey-subtext">Keep going! Your input matters.</div> -->
        
        <div class="progress-bar">
            <div class="progress"></div>
        </div>
    
        <div class="form-container">

            <!-- Were you born in the US? -->
            {{ form.spbrn.label }}<br>
            {{ form.spbrn }}<br><br>
        
            <!-- Conditionally displayed field for country of birth -->
            <div id="otherTextContainer" style="display: none;">
                {{ form.cntbrn.label }}<br>
                {{ form.cntbrn }}<br><br>
            </div>
        
            <!-- Are you an American citizen? -->
            {{ form.spcit.label }}<br>
            {{ form.spcit }}<br><br>
        
            <!-- Conditionally displayed field for citizenship -->        
            <div id="otherTextContainer" style="display: none;">
                {{ form.other_cit.label }}<br>
                {{ form.other_cit }}<br><br>
            </div>

            {{ form.primlang.label }}<br><br>
            {{ form.primlang }}<br><br>
        
        </div>        
    
        <button class="next-button" onclick="updateProgress()">Next</button>
        <div class="note">Click next to proceed.</div>
    </div>
</div>