

<!-- {{ block content }}
{# hides the time-out counter #}
<style>
    .otree-timer {
        display: none;
    }
</style>
<script>
    // {# sets off counter at 30 seconds remaining #}
    document.addEventListener("DOMContentLoaded", function (event) {
        $('.otree-timer__time-left').on('update.countdown', function (event) {
            if (event.offset.totalSeconds === 30) {
                $('.otree-timer').show();
            }
        });
    });
</script>


<p style="padding: 10px; border: 2px solid rgba(91,88,88,0.15); width: fit-content; block-size: fit-content; background-color:rgba(91,88,88,0.15);"> Period {{group.current_period}}</p>

<p>You are Participant {{id}}.</p>
<div class="Row2">
    <div class="Column2">
<table>
    <tr>
        <td><b>Participant</b></td>

        <td><b>Share</b></td>


    </tr>

    <tr>
        {{if id == 1}}
        <td><b>Participant 1 (YOU)</b></td>
        {{else}}
        <td>Participant 1</td>
        {{endif}}
        <td>{{group.s1}} </td>


    </tr>

     <tr>
       {{if id == 2}}
        <td><b>Participant 2 (YOU)</b></td>
        {{else}}
        <td>Participant 2</td>
        {{endif}}
         <td>{{group.s2}}</td>


    </tr>

     <tr>
        {{if id == 3}}
         <td><b>Participant 3 (YOU)</b></td>
        {{else}}
        <td>Participant 3</td>
        {{endif}}
         <td>{{group.s3}}</td>


    </tr>


</table>

<p>Do you accept this proposal?</p>
<button name="player_offer_accepted" value="True" class="btn btn-primary">Yes</button>
<button name="player_offer_accepted" value="False" class="btn btn-primary">No</button>
    </div>

{{ endblock }}

{{ block styles }}
<style type="text/css">
.Row {
    display: table;
    width: 100%;
    border-spacing: 10px;
}

.Row2 {
    display: table;
    width: 100%;
    border-spacing: 10px;
}

.Column2 {
    display: table-cell;
    width: 50%;
}

.Column {
    display: table-cell;
}

table {
  table-layout: fixed ;
  border: 2px solid DodgerBlue;
  text-align: center;
  border-collapse: separate;
}
td {
  width: 50px;
  height: 50px;
  border: 2px solid DodgerBlue;
}

tr {
  border: 2px solid DodgerBlue;
}

th {
  width: 50px;
  height: 50px;
  border: 2px solid DodgerBlue;
  position: sticky;
  top: 0;
  background-color:#DBEDEB;
}


</style>
{{ endblock }}

    {{ block script }}
<script>
        function liveRecv(data) {
            let i1 = 0
            let i2 = 0
            let i3 = 0
           let i4 = 0
            let i5 = 0
            var input1 = document.getElementById('inputbox1');
            var input2 = document.getElementById('inputbox2');
            var input3 = document.getElementById('inputbox3');
            var input4 = document.getElementById('inputbox4');
            var input5 = document.getElementById('inputbox5');
            if (input1.checked){i1 = 100;}
            if (input2.checked){i2 = 100;}
            if (input3.checked){i3 = 100;}
            if (input4.checked){i4 = 100;}
            if (input5.checked){i5 = 100;}
            if (input1.checked == false){i1 = 0;}
            if (input2.checked== false){i2 = 0;}
            if (input3.checked== false){i3 = 0;}
            if (input4.checked == false){i4 = 0;}
            if (input5.checked== false){i5 = 0;}

            let sum = i1+i2+i3;
            let F = sum * js_vars.alphaa;
          let p1 = js_vars.max_investment - i1 + (js_vars.s1/js_vars.shares * F);
          document.getElementById('p1').innerHTML =p1.toFixed(2);
          let p2 = js_vars.max_investment - i2 + (js_vars.s2/js_vars.shares * F);
          document.getElementById('p2').innerHTML =p2.toFixed(2);
          let p3 = js_vars.max_investment - i3 + (js_vars.s3/js_vars.shares * F);
          document.getElementById('p3').innerHTML =p3.toFixed(2);
          let p4 = js_vars.max_investment - i4 + (js_vars.s4/js_vars.shares * F);
          document.getElementById('p4').innerHTML =p4.toFixed(2);
          let p5 = js_vars.max_investment - i5 + (js_vars.s5/js_vars.shares * F);
          document.getElementById('p5').innerHTML =p5.toFixed(2);
          liveSend({'type': 'calculate', 'calculation': [i1,i2,i3,i4,i5]});


      }

    function startTimer(duration, display) {
    var timer = duration, minutes, seconds;
    setInterval(function () {
        minutes = parseInt(timer / 60, 10);
        seconds = parseInt(timer % 60, 10);

        minutes = minutes < 10 ? "0" + minutes : minutes;
        seconds = seconds < 10 ? "0" + seconds : seconds;

        display.textContent = minutes + ":" + seconds;

        if (--timer < 0) {
            timer = duration;
        }
    }, 1000);
}

    window.onload = function () {

    setTimeout(function(){
        document.querySelector("#calculator").style.visibility = "hidden";
        }, 6*30000);

    var fiveMinutes = 60 * 3;
        var oneMinute = 60*3;

        display2 = document.querySelector('#time2');
    startTimer(oneMinute, display2);
    };


</script>
{{ endblock }} -->
